write-kubeconfig-mode: "0644"
{% if flannel_backend_none %}
flannel-backend: none
{% endif %}
{% if disable_network_policy %}
disable-network-policy: true
{% endif %}
{% if disable_traefik or disable_servicelb or disable_embedded_registry %}
disable:
{% if disable_traefik %}
  - traefik
{% endif %}
{% if disable_servicelb %}
  - servicelb
{% endif %}
{% if disable_embedded_registry %}
  - embedded-registry
{% endif %}
{% endif %}
