vault:
  # Configure the server to run in a single-replica, standalone mode
  server:
    standalone:
      enabled: true
    ha:
      enabled: false  
    dataStorage:
      enabled: true
      size: 1Gi
      storageClass: "local-path"

  statefulSet:
      volumeClaimTemplates:
        - metadata:
            name: data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Gi
            storageClassName: "local-path"
  
  injector:
    enabled: false

  ui:
    enabled: true
    ingress:
      hostname: __VAULT_HOSTNAME__
