---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: {{ .Release.Namespace }}
spec:
  addresses:
  - {{ .Values.metallb.ipAddressPool.ipRange }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-advertisement
  namespace: {{ .Release.Namespace }}
spec:
  ipAddressPools:
  - default-pool
  #interfaces:
  #- {{ .Values.metallb.ipAddressPool.nodeInterface }}