apiVersion: v1
kind: ServiceAccount
metadata:
  name: crossplane-functions
  namespace: {{ .Release.Namespace }}
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: function-runtime-config
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          serviceAccountName: crossplane-functions
          containers:
            - name: package-runtime
